@import './themes/quasar.variables.styl';
@import '~quasar-framework/dist/quasar.ios.styl';
//@import '~quasar-styl';
// @import '~quasar-addon-styl'

@import '~flag-icon-css/css/flag-icon.min.css';

// custom style
@import './app.styl';
